{% extends "base.html" %}


{% block title %}
<style>
    .order-item{
        background-color: rgb(237, 238, 237);
        margin: 20px;
        padding: 10px;
        border: 1px solid silver;
        box-shadow: 4px 4px 10px 1px silver;
        position: relative;
    }
    .complete-order{
        position: absolute;
        right: 20px;
        top: 15px;
    }
</style>
{% endblock title %}

{% block body %}

{% if orders %}
{% for i in orders %}
<div class="order-item">
    <div class="name">
        {{i.order_name}}
    </div>
    <div class="address">
        {{i.order_location}}, {{i.contact}}
    </div>
    <div class="order-data">
        {{i.order_data}}
        
    </div>
    <a class="complete-order" href="done/{{i.order_id}}" onclick="return confirm('Are you sure?')">Complete order</a>

</div>



{% endfor %}
{% else %}
    No active orders
{% endif %}
{% endblock %}

{% block scripts %}

<script>
    
</script>
{% endblock scripts %}